.price{
    margin-top: 14rem;
    display: flex;
    justify-content: space-between;
    &__card{
        width: 360px;
        height: 616px;
        border-radius: 10px;
        padding: 6rem;
        box-shadow: 0px 0px 20px 0px #E1E4ED;
        &-wrapper{
            display: flex;
            justify-content: space-between;
        }
        &-coast{
            color: $main-color;
            font-size: 50px;
            font-weight: 700;
            font-family: "Poppins", sans-serif;
            &__time{
                display: block;
                color: #5B5766;
                font-family: "Nunito";
                font-size: 1.6rem;
                margin-bottom: 6rem;
            }
        }
        &__list{
            padding: 0;
            margin-bottom: 6rem;
            list-style-position: inside;
            
            &-item{
                margin-bottom: 1rem;
                &.check{
                list-style-image: url("./../../icons/check.png");
                
                }
                &.close{
                    list-style-image: url("./../../icons/close.png");
                }
            }
        }

    }
    
    &__card-tariff{
        font-size: 2rem;
        &:after{
            content: '';
            display: block;
            width: 40px;
            height: 2px;
            border-radius: 2px;
            background: #BA43FC;
            margin: 19px 0 9px 0;
        }
        &_best{
            width: 86px;
            height: 26px;
            padding: 6px 10px;
            border-radius: 13px;
            color: #ef7171;
            font-family: "Poppins", sans-serif;
            font-size: 1rem;
            font-weight: 700;
            letter-spacing: 0.2px;
            background-color: #E1E4ED;
        }
    }
    
}